<div class="board-container">
  <div class="board">
  @for (p of listaPiezas(); track p.id) {
    <app-pieza 
      #piezaRef
      [initialX]="p.x" 
      [initialY]="p.y" 
      [cols]="columnas"
      [rows]="filas"
      [player]="$any(p.color)"
      (selected)="seleccionarPieza(piezaRef)"
      (endMoved)="deseleccionar()">
    </app-pieza>
  }
</div>
<div class="controls-panel">
    @if (piezaActiva()) {
      <button class="btn-girar" (click)="rotateSelected(-90)">Girar izq</button>
      <button class="btn-girar" (click)="rotateSelected(90)">Girar der</button>
    }
  </div>