<div class="player_card">Usuario 1</div>
<div class="board-container">
  <div class="board">
  @for (p of listaPiezas(); track p.id) {
    @if (p.esMia) {
      <app-pieza 
        #piezaRef
        [initialX]="p.x" 
        [initialY]="p.y" 
        [cols]="columnas"
        [rows]="filas"
        (selected)="seleccionarPieza(piezaRef)"
        (moveRequested)="gestionarMovimiento($event)">
      </app-pieza>
    } @else {
      <app-pieza-rival 
        [x]="p.x" 
        [y]="p.y"
        [rotation]="p.rotation">
      </app-pieza-rival>
    }
  }
</div>

</div>
<div class="controls-panel">
    @if (piezaActiva()) {
      <button class="btn-girar" (click)="rotateSelected(-90)">Girar izq</button>
      <button class="btn-girar" (click)="rotateSelected(90)">Girar der</button>
    }
  </div>
<div class="player_card">Usuario 2</div>
<button (click)="esMiTurno.set(true)">Cambiar turno para comprobar funcionamiento</button>