<div class="game-screen">

  @if (mostrarAvisoSalida()) {
    <div class="popup-overlay">
      <div class="popup-content warning">
        <div class="modal-icon">🚫</div>
        <h2>Acción Bloqueada</h2>
        <p>No puedes abandonar la partida mientras está en curso.</p>
        <p>Si necesitas salir, solicita <strong>pausar la partida</strong> o termina el juego.</p>

        <div class="popup-buttons">
          <button class="btn-entendido" (click)="mostrarAvisoSalida.set(false)">
            Entendido, volver al juego
          </button>
        </div>
      </div>
    </div>
  }

  <!-- TOASTS -->
  <div class="toast-container">
    
    @if (estadoDesconexion().mostrar) {
      <app-notification-game 
        tipo="desconexion"
        [mensaje]="'El rival se ha ido de la partida...'"
        (alCerrar)="gameService.cerrarToast()">
      </app-notification-game>
    }

    @if (estadoPausa().mostrar) {
      <app-notification-game
        tipo="pausa"
        [mensaje]="nombreRival() + ' quiere pausar el juego'"
        (alAceptar)="gameService.logicAceptarPausa()"
        (alRechazar)="gameService.logicRechazarPausa()"
        (alCerrar)="gameService.cerrarToastPausa()">
      </app-notification-game>
    }
    
  </div>

  <!-- FIN PARTIDA -->
  @if(finPartida().mostrar){ 
    <div class="popup-overlay">
      <div class="popup-content" (click)="$event.stopPropagation()">
        <p>{{finPartida().mensaje}}</p>
        <div class="popup-buttons">
          <button (click)="gameService.solicitarRevancha()">Revancha</button>
          <button (click)="gameService.finPartidaHandler()">Cerrar</button>
        </div>
      </div>
    </div>
  }

  <!-- PANEL IZQUIERDO -->
  <aside class="side-panel">
    <div class="player_card my-user">
      <div class="timer">{{ timerService.formatTime(miTiempo()) }}</div>
      <div class="avatar">👤</div>
      <span>{{ miNombre() }}</span>
    </div>

    <div class="controls-panel">
      @if (piezaActiva()) {

        @if (piezaActiva()?.tipoPieza() != TipoPieza.REY ) { 

          @if (piezaActiva()?.tipoPieza() == TipoPieza.LASER){

            @if (piezaActiva()?.rotationInput() == 0){
              <button class="btn-girar" (click)="rotateSelected(-90)">↺</button>
            }

            @if (piezaActiva()?.rotationInput() == -90){
              <button class="btn-girar" (click)="rotateSelected(90)">↻</button>
            }

          } @else {
            <button class="btn-girar" (click)="rotateSelected(90)">↻</button>
            <button class="btn-girar" (click)="rotateSelected(-90)">↺</button>
          }

        }
      }
    </div>
  </aside>

  <!-- TABLERO -->
  <main class="main-content">
    <app-board
      [piezas]="listaPiezas"
      [laserPath]="laserPath"
      [columnas]="columnas"
      [filas]="filas"
      [isCasillaRestringida]="gameUtils.isCasillaRestringida.bind(this)"
      [ocupado]="gameService.ocupado.bind(this)"
      (piezaSeleccionada)="seleccionarPieza($event)"
      (movimientoSolicitado)="gestionarMovimiento($event)"
    ></app-board>
  </main>

  <!-- PANEL DERECHO -->
  <aside class="side-panel">
    <div class="player_card">
      <div class="avatar">👤</div>
      <span>{{ nombreRival() }}</span>
      <div class="timer">{{ timerService.formatTime(tiempoRival()) }}</div>
    </div>

    <button class="debug-btn" (click)="gameService.solicitarPausa()">Solicitar pausa</button>
  </aside>

</div>