.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 10vh;
}


/* ITEMS */
.item {
  background-color: var(--S1);
  margin-bottom: 3px;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.2s;

  max-height: 8vh;
}

.item:hover {
  background: var(--S2);
}

.item.active {
  background: var(--S3);
  border-left: 4px solid var(--LCGreen);
}

.empty-space {
  background-color: var(--S1);
  margin-bottom: 3px;
  flex: 1;
}


/* ICONOS RESPONSIVE */
.icon {
  width: 60%;
  max-width: 9rem;
  height: auto;
  object-fit: contain;
  transition: transform 0.12s ease;
}

.item.active .icon {
  transform: scale(1.1);
}
