@if(showError()) {
  <div id="overlay" class="overlay" (click)="showError.set(false)">
    <div class="popup-error" (click)="$event.stopPropagation()">
      {{ errorMessage() }}
      <button (click)="showError.set(false)">Cerrar</button>
    </div>
  </div>
}
<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
    <div class="mb-3">
      <label for="mail">Correo electrónico/ username</label>
      <input type="text" id="credential" class="form-control" formControlName="credential" placeholder="name@example.com / username">
      @if (loginForm.get('credential')!.invalid && (loginForm.get('credential')!.touched || formSubmitted()))
      {
      <span class="error_message_form">
        Correo electrónico es requerido y tener formato correcto
      </span>
      }
    </div>
    <div class="mb-3">
      <label for="password">Contraseña</label>
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="">
      @if ((loginForm.get('password')?.touched || formSubmitted()) && loginForm.get('password')?.invalid) {
        @if (loginForm.get('password')?.hasError('required')) {
          <span class="error_message_form">
            Contraseña es requerida
          </span>
        }
        @if (loginForm.get('password')?.hasError('minlength')) {
          <span class="error_message_form">
            Mínimo 6 caracteres
          </span>
        }
        @if (loginForm.get('password')?.hasError('maxlength')) {
          <span class="error_message_form">
            Máximo 50 caracteres
          </span>
        }
      }
    </div>

    <button class="form-button" type="submit">Iniciar Sesión</button>
  </form>
</div>

