<div class="form-container">

  <button routerLink="/home">Iniciar sesión</button>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
    <div class="mb-3">
      <input type="text" id="user" formControlName="user" placeholder="Correo electrónico/Nombre usuario*">
      @if (loginForm.get('user')!.invalid && loginForm.get('user')!.touched)
      {
      <span class="error_message_form">
        Correo electrónico es requerido y tener formato correcto
      </span>
      }
    </div>
    <div class="mb-3">
      <input type="password" id="password" formControlName="password" placeholder="Contraseña*">
      @if (loginForm.get('password')!.invalid && loginForm.get('password')!.touched)
      {
      <span class="error_message_form">
        Contraseña debe tener mínimo 6 caracteres
      </span>
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="form-button">Iniciar Sesión</button>
  </form>
</div>

