/* Centrado total en pantalla */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background: var(--LCBackground);
}

/* Tarjeta adaptable */
.form-container {
  background: var(--S1);
  padding: clamp(2rem, 5vw, 4rem);
  border-radius: 0.5rem;

  width: 100%;
  max-width: 40rem;   /* se adapta según tamaño base */
 
}

.icon {
  display: block;
  margin: 0 auto 1rem auto; /* menos espacio abajo */
  width: clamp(6rem, 14vw, 10rem);
  height: auto;
}


h1 {
  text-align: center;
  margin: 0 0 1.2rem 0; /* elimina margen superior */
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
}

/* Labels */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
}

/* Botón */
button {
  width: 100%;
  margin-top: 2rem;
  padding: clamp(0.9rem, 1.5vw, 1.2rem);
  border-radius: 1rem;
  border: none;
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  font-weight: 600;
  background: var(--LCBlue);
  color: var(--LCWhite);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  color: var(--LCBlue);
  background-color: var(--LCWhite);
}