<div
  class="pieza"
  [style.gridColumn]="position().x"
  [style.gridRow]="position().y"
  [style.transform]="'rotate(' + rotationInput() + 'deg)'"
  [style.backgroundImage]="'url(' + interfazPieza + ')'"
  style="transition: transform 0.3s ease-in-out;"
  (click)="select()"
></div>

<!-- Añadir restricciones de movimiento -->

<!--  En caso del láser, solo puede rotar
      En el caso de switch no puede permutar, ese movimiento no debería salir como disponible -->

@if (showSpots() && (tipoPieza() != TipoPieza.LASER)) {
  @if (position().y > 1 && puedeEntrar(position().x, position().y - 1)) {
    <div class="spot-container" [style.gridColumn]="position().x" [style.gridRow]="position().y - 1" (click)="solicitarMovimiento(position().x, position().y - 1)">
      <div class="spot"></div>
    </div>
  }
  @if (position().y < rows() && puedeEntrar(position().x, position().y + 1)) {
    <div class="spot-container" [style.gridColumn]="position().x" [style.gridRow]="position().y + 1" (click)="solicitarMovimiento(position().x, position().y + 1)">
      <div class="spot"></div>
    </div>
  }
  @if (position().x > 1 && puedeEntrar(position().x - 1, position().y)) {
    <div class="spot-container" [style.gridColumn]="position().x - 1" [style.gridRow]="position().y" (click)="solicitarMovimiento(position().x - 1, position().y)">
      <div class="spot"></div>
    </div>
  }
  @if (position().x < cols() && puedeEntrar(position().x + 1, position().y)) {
    <div class="spot-container" [style.gridColumn]="position().x + 1" [style.gridRow]="position().y" (click)="solicitarMovimiento(position().x + 1, position().y)">
      <div class="spot"></div>
    </div>
  }
  @if (position().y > 1 && position().x > 1 && puedeEntrar(position().x - 1, position().y - 1)) {
    <div class="spot-container" [style.gridColumn]="position().x - 1" [style.gridRow]="position().y - 1" (click)="solicitarMovimiento(position().x - 1, position().y - 1)">
      <div class="spot"></div>
    </div>
  }
  @if (position().y < rows() && position().x < cols() && puedeEntrar(position().x + 1, position().y + 1)) {
    <div class="spot-container" [style.gridColumn]="position().x + 1" [style.gridRow]="position().y + 1" (click)="solicitarMovimiento(position().x + 1, position().y + 1)">
      <div class="spot"></div>
    </div>
  }
  @if (position().x > 1 && position().y < rows() && puedeEntrar(position().x - 1, position().y + 1)) {
    <div class="spot-container" [style.gridColumn]="position().x - 1" [style.gridRow]="position().y + 1" (click)="solicitarMovimiento(position().x - 1, position().y + 1)">
      <div class="spot"></div>
    </div>
  }
  @if (position().x < cols() && position().y > 1 && puedeEntrar(position().x + 1, position().y - 1)) {
    <div class="spot-container" [style.gridColumn]="position().x + 1" [style.gridRow]="position().y - 1" (click)="solicitarMovimiento(position().x + 1, position().y - 1)">
      <div class="spot"></div>
    </div>
  }
}
