@if(showError()) {
  <div id="overlay" class="overlay" (click)="showError.set(false)">
    <div class="popup-error" (click)="$event.stopPropagation()">
      {{ errorMessage() }}
      <button (click)="showError.set(false)">Cerrar</button>
    </div>
  </div>
}
<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
    <div class="mb-3">

    <div class="wellcome-back">
      <h1> ¡Hola de nuevo! </h1>
      <h3> Te estabamos esperando</h3>
    </div>

     <hr style="color: var(--S3);">
     <br>

      <!--Campo del correo electronico-->
      <div class="field-info">
        <label for="mail">Correo electrónico o nombre de usuario</label><label style="color: var(--LCRed);">*</label>
      </div>

      <input type="text" id="credential" class="form-control" formControlName="credential" placeholder="name@example.com / username">
      @if (loginForm.get('credential')!.invalid && (loginForm.get('credential')!.touched || formSubmitted()))
      {
      <span class="error_message_form">
        Introduzca un correo o usuario existentes
      </span>
      }
    </div>
    <br>
    <div class="mb-3">
      <!--Campo de contraseña-->
      <div class="field-info">
        <label for="mail">Contraseña</label><label style="color: var(--LCRed);">*</label>
      </div>
      
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="******">
      @if ((loginForm.get('password')?.touched || formSubmitted()) && loginForm.get('password')?.invalid) {
        @if (loginForm.get('password')?.hasError('required')) {
          <span class="error_message_form">
            Este campo es obligatorio
          </span>
        }
        @if (loginForm.get('password')?.hasError('minlength')) {
          <span class="error_message_form">
            Mínimo 6 caracteres
          </span>
        }
        @if (loginForm.get('password')?.hasError('maxlength')) {
          <span class="error_message_form">
            Máximo 50 caracteres
          </span>
        }
      }
    </div>
    <br>
    <hr style="color: var(--S3);">

    <button class="form-button" type="submit">Iniciar Sesión</button>

    <br><br>
    <span>¿No tienes una cuenta?, prueba a <a routerLink="/signin" style="color: var(--LCBlue);" >crear una cuenta</a> </span>

  </form>
</div>

