.page {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.page::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}

.folder-container {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto 2rem auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: clamp(1rem, 2vw, 2rem);
  
}

.ranking-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 1rem;
}

.folder-body {
  padding: 5px;
  margin-top: 1rem;
  background: var(--LCBG);
  position: relative;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/*Listas*/
.title {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 3px;
  width: 100%;
  padding: 1rem 1.5rem;

  font-size: var(--LCSmall);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: var(--S2);
  color: var(--active-color, var(--LCBlue));
  border-bottom: 4px solid var(--active-color, var(--LCBlue));
}

/* Para los botones de iniciar amistosa y borrar */
.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}


.table-wrapper {
  flex: 1;
  overflow-y: auto;      
  min-height: 0;     
}    

.game-list {
  width: 100%;
  background-color: var(--S1);
  border-collapse: separate;
  border-spacing: 0 0px;
  font-size: var(--LCSmall);
  overflow-y: scroll;
}

.game-list td {
  padding: 0.85rem 1rem;
  text-align: left;
  border-bottom: 3px solid var(--LCBG);
}

.game-list th {
  padding: 0.4rem 1rem;
  text-align: left;
  background-color: var(--S2);
  font-weight: bold;
  color: var(--LCWhite);
  border-bottom: 3px solid var(--LCBG);
  position: sticky;
  z-index: 10;
  top: 0;
}

.game-list td.player {
  border: 0;
  padding: 0.4rem 1rem;
  text-align: left;
  background-color: var(--S2);
  font-weight: bold;
  color: var(--LCWhite);
  border-bottom: 3px solid var(--LCBG);
  position: sticky;
  z-index: 10;
  top: 0;
}

.game-list tr:hover {
  /*TODO*/
  background: var(--S2);
  color: var(--LCWhite)
}

/* Elo ícono y texto */
.elo {
  font-weight: bold;
}

.elo-content {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.elo-content mat-icon {
  display: flex;
  align-items: center;
  color: var(--LCYellow);

  font-size: var(--LCSmall);
  height: var(--LCSmall);
  width: var(--LCSmall);
}