<div class="container">
  <div class="lc-title">
    <mat-icon fontSet="material-symbols-outlined">chess_king</mat-icon>
    <span style="margin-left: 10px;">Laserchess</span>
  </div>

  <div class="empty-space"></div>

  <div class="profile-card" (click)="openProfile()">
    <div class="profile-info">
      <div class="info-header">
        <div class="level-and-xp">
          <span class="level-text">Lvl. {{ (userProfile$ | async)?.level }}</span>
          <span class="xp-detail-text"> · {{ xpInfoDetail().current }} / {{ xpInfoDetail().required }}</span>
          <span class="xp-letters">XP</span>
        </div>
        <span class="username">{{ (userProfile$ | async)?.username }}</span>
      </div>

      <div class="xp-container">
        <div class="xp-bar" [style.width.%]="xpPercentage()"></div>
      </div>
    </div>
    <div class="profile-picture">
      @if (avatar) {
        <mat-icon svgIcon="avatar" [style.color]="avatar" class="avatar-large"></mat-icon>
      } @else {
        <div class="avatar-placeholder-large">
          <span class="avatar-icon-large">👤</span>
        </div>
      }
    </div>

  </div>

  <div class="coin-counter">
    <span class="coin-amount">{{ (userProfile$ | async)?.money }}</span>
    <mat-icon fontSet="material-symbols-outlined" class="coin-icon">paid</mat-icon>
  </div>
</div>


<!-- Popup de mi perfil -->
@if (showProfilePopup()) {
  <div class="overlay" (click)="closeProfile()">
    <div class="popup-profile" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <h2>Mi perfil</h2>
        <button class="close-button" (click)="closeProfile()">✕</button>
      </div>
      <div class="popup-content">
        <div class="user-info-detail">
          <div class="user-avatar-large">
            <div class="user-avatar-large">
              @if (avatar) {
                <mat-icon svgIcon="avatar"
                          [ngClass]="'avatar-' + avatar"
                          class="avatar-large"></mat-icon>
              } @else {
                <div class="avatar-placeholder-large">
                  <span class="avatar-icon-large">👤</span>
                </div>
              }
            </div>
          </div>
          <div class="user-details">
            <div class="detail-row">
              <span class="detail-label">Nombre:</span>
              <span class="detail-value">{{ (userProfile$ | async)?.username }}</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">Nivel:</span>
              <span class="detail-value">{{ (userProfile$ | async)?.level }}</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">Monedas:</span>
              <span class="detail-value">{{ (userProfile$ | async)?.money }}</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">Puntos Ranked:</span>
              <span class="detail-value">{{ (userProfile$ | async)?.rankedPoints}}</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">ELO Blitz:</span>
              <span class="detail-value">{{ (userProfile$ | async)?.blitzElo}}</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">ELO Rápido:</span>
              <span class="detail-value">{{ (userProfile$ | async)?.rapidElo}}</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">ELO Clásico:</span>
              <span class="detail-value">{{ (userProfile$ | async)?.classicElo}}</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">ELO Extendido:</span>
              <span class="detail-value">{{ (userProfile$ | async)?.extendedElo}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
