<div class="animated-bg"
     [style.backgroundImage]="'url(' + boardState.boardBackgroundUrl() + ')'">
</div>


<div class="customize-layout">
  <!-- Tablero a la izquierda -->
  <div class="board-preview">
    <app-board
      [piezas]="listaPiezas"
      [laserPath]="laserPath"
      [columnas]="columnas"
      [filas]="filas"
      [isCasillaRestringida]="gameUtils.isCasillaRestringida.bind(this)">
    </app-board>
  </div>

  <!-- Personalización a la derecha -->
  <div class="customize-panel">
    <div class="customize-container">
      @for (group of groups(); track group.type) {
        <div class="customize-section">
          <h2>{{ group.title }}</h2>
          <div class="items-grid">
            @for (item of group.items; track item.id) {
              <div class="customize-card" [class.equipped]="item.isEquipped" (click)="equip(item)">
                <div class="icon">
                  <img [src]="item.icon" alt="{{ item.name }}">
                </div>
                <div class="name">{{ item.name }}</div>
                <div class="equip-badge">
                  @if (item.isEquipped) {
                    Equipado
                  } @else {
                    Equipar
                  }
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
