<section class="home">


    <app-top-row></app-top-row>

    @if(popUPNotis()){
        <div id="overlay" class="overlay" (click)="popUPNotis.set(false)">
            <div class="popup-solicitudes" (click)="$event.stopPropagation()">
                 @for (reto of solicitudes(); track reto.challenger_id) {
                    <div class="card-reto">
                    <div class="info">
                        <strong>{{ reto.challenger_username }}</strong>
                        <span>Tablero: {{ reto.board }}</span>
                    </div>

                    <div class="tiempo">
                        <mat-icon style="margin-right: 10px" fontSet="material-symbols-outlined">timer</mat-icon>
                        {{ formatTime(reto.starting_time) }} + {{ reto.time_increment / 1000 }}s
                    </div>

                    <button (click)="accept(reto)">Jugar</button>
                    </div>
                } @empty {
                    <div class="no-data">
                    <p>No hay ninguna notificación</p>
                    </div>
                }
            </div>
            </div>
    }

    <div class="main-section">
        <div class="tablero-placeholder">
            <img src="assets/tablero-placeholder.png">
        </div>
        <div class="game-selection">

        <div class="notif-elo-container">
          <button class="icon-btn icon-notif" type="button" aria-label="Notificaciones" (click)="openNotifications()">
              @if (solicitudes().length > 0) {
                <span class="notification-badge">{{ solicitudes().length }}</span>

              }
              <mat-icon fontSet="material-symbols-outlined">all_inbox</mat-icon>
          </button>

          <!-- Lo del elo -->
          <div class="elo-badge-container">
            <div class="elo-text-wrapper">
              <span class="elo-rank-name">
                {{ eloRankName }}
                <!-- place holder, habrá que leer el valor que sea -->
                · 1256 / 1500
                <mat-icon fontSet="material-symbols-outlined">crown</mat-icon>
              </span>
            </div>

            <div class="elo-circle-wrapper">
              <svg class="progress-ring" viewBox="0 0 120 120">
                <circle class="progress-ring-track" cx="60" cy="60" r="46" stroke-width="12"/>
                <circle class="progress-ring-value" cx="60" cy="60" r="46" stroke-width="12"
                        [attr.stroke-dashoffset]="eloDashOffset"/>
              </svg>
              <mat-icon class="elo-icon-inner" fontSet="material-symbols-outlined">
                masked_transitions_add
              </mat-icon>
            </div>
          </div>
        </div>


        <div class="bottom-row">

        <div class="dropdown-wrapper">
                <button class="setting-selector" type="button" aria-label="Cambiar modo de tiempo" (click)="toggleTimeDropdown($event)">
                    <div class="setting-content">
                        <mat-icon style="--icon-color: var(--LCBlue)" fontSet="material-symbols-outlined">timer</mat-icon>
                        <span class="setting-label">{{ selectedTime }}</span>
                    </div>
                    <mat-icon fontSet="material-symbols-outlined">expand_more</mat-icon>
                </button>

                @if (timeDropdownOpen()) {
                    <ul class="dropdown-menu">
                        @for (option of timeOptions; track option) {
                            <li class="dropdown-item"
                                (click)="selectTime(option, $event)"
                                [class.selected]="option === selectedTime">
                                {{ option }}
                            </li>
                        }
                    </ul>
                }
            </div>

            <div class="dropdown-wrapper">
                <button class="setting-selector" type="button" aria-label="Cambiar tablero" (click)="toggleBoardDropdown($event)">
                    <div class="setting-content">
                        <mat-icon style="--icon-color: var(--LCRed)" fontSet="material-symbols-outlined">crossword</mat-icon>
                        <span class="setting-label">{{ selectedBoard }}</span>
                    </div>
                    <mat-icon fontSet="material-symbols-outlined">expand_more</mat-icon>
                </button>

                @if (boardDropdownOpen()) {
                    <ul class="dropdown-menu">
                        @for (option of boardOptions; track option) {
                            <li class="dropdown-item"
                                (click)="selectBoard(option, $event)"
                                [class.selected]="option === selectedBoard">
                                {{ option }}
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        <div class="play-group">
            <a class="play-btn" (click)="this.sendChallenge()">
              JUGAR
            </a>

            @if(this.tipoPartida()=== 'Ranked'){
                <button class="trophy-btn" (click)="this.tipoPartida()=== 'IA'" type="button" aria-label="Trofeo" >
                    <mat-icon fontSet="material-symbols-outlined">emoji_events</mat-icon>
                </button>
            }@else {
                <button class="trophy-btn" (click)="this.tipoPartida()=== 'Ranked'" type="button" aria-label="IA" >
                    <mat-icon fontSet="material-symbols-outlined">emoji_events</mat-icon>
                </button>
            }
        </div>

    </div>
    </div>



</section>
