.home {
    padding: 24px;
}

.profile-card {
    width: 450px;
    border: 3px solid #000;
    background: #fff;

    display: flex; /* todo en una fila */
    align-items: center;
    gap: 25px;

    padding: 25px 35px;
}

.profile-picture {
    width: 65px;
    height: 65px;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* así se rellena el círculo sin deformar */
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 13px;

    min-width: 0;
}

.username {
    font-size: 24px;
    font-weight: 700;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 250px;
}

.xp-placeholder {
    width: 250px;
    height: 18px;
    border: 2px solid #000;
    border-radius: 4px;
    opacity: 0.25;
}