<app-top-row></app-top-row>

<div class="shop-container">

  @for (section of sections(); track section.title; let i = $index) {
    
    <div class="shop-section">

      <h2 class="section-title">{{ section.title }}</h2>

      <div class="carousel-wrapper">

        <button class="arrow left"
                (click)="scrollLeft(scrollContainer)">
          ◀
        </button>

        <div class="items-container" #scrollContainer>
          
          @for (item of section.items; track item.id) {
            <div class="shop-card" [class.owned]="item.owned">

              <img [src]="item.icon" />

              <div class="name">{{ item.name }}</div>

              <div class="price">
                {{ item.price }} 🪙
              </div>
            @if(!item.owned){
              <button class="buy-btn">
                Comprar
              </button>
            }@else{
              <div class="owned-label">
                Poseído
              </div>
            }
            </div>
          }

        </div>

        <!-- RIGHT ARROW -->
        <button class="arrow right"
                (click)="scrollRight(scrollContainer)">
          ▶
        </button>

      </div>
    </div>
  }
</div>