<div class="page">

  <app-top-row></app-top-row>

  <div class="folder-container">
    <div class="folder-body">

      <!-- Botones para seleccionar elo -->
      <div class="elo-buttons-container">
        @for (type of eloTypes; track type.id) {
          <button class="elo-tab"
                  [class.active]="selectedEloType() === type.id"
                  (click)="onSelectEloType(type.id)"
                  [disabled]="loading()">
            {{ type.label }}
          </button>
        }
      </div>

      <div class="ranking-content">
      <!-- Estado de carga -->
      @if (loading()) {
        <div class="loading-state">
          <p>Cargando ranking...</p>
        </div>
      }

      <!-- Mensaje de error -->
      @if (error()) {
        <div class="empty-state error-message">
          <p>{{ error() }}</p>
        </div>
      }

      <!-- Tabla del top 100 -->
      @if (!loading() && !error()) {
        <div class="ranking-table-wrapper">
          <table class="ranking-table">
            <thead>
              <tr>
                <th>Posición</th>
                <th>Jugador</th>
                <th>ELO</th>
              </tr>
            </thead>
            <tbody>
              @for (player of topPlayers(); track player.userId; let i = $index) {
                <tr (click)="openUserInfo(player)"
                    [class.sticky-user-row]="userInfo()?.position === (i + 1)">
                  <td class="rank">
                    <div class="medal"
                        [class.gold]="i === 0"
                        [class.silver]="i === 1"
                        [class.bronze]="i === 2">
                      {{ i + 1 }}
                    </div>
                  </td>
                  <td class="username">{{ player.username }}</td>
                  <td class="elo">
                    <div class="elo-content">
                    {{ player.elo }}
                    <mat-icon fontSet="material-symbols-outlined">crown</mat-icon>
                    </div>
                  </td>
                </tr>
              }

              @if (userInfo() && userInfo()!.position > topPlayers().length) {
                <tr class="sticky-user-row">
                  <td class="rank">{{ userInfo()!.position }}</td>
                  <td class="username">Tú</td>
                  <td class="elo">
                    <div class="elo-content">
                    {{ userInfo()!.elo }}
                    <mat-icon fontSet="material-symbols-outlined">crown</mat-icon>
                    </div>
                  </td>
                </tr>
              }

              @if (topPlayers().length === 0) {
                <tr>
                  <td colspan="3" class="empty-table">No hay jugadores en el ranking</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </div>
  </div>

  <!-- Esto es lo que habia antes (para recordarlo si hiciera falta)-->
  <!-- Popup para configurar el reto @if(showConfigPopup()) { -->
  <!-- Popup de espera @if(popUP_waiting()) {-->
  <!-- Pop-up de info @if (popUP_userInfo() && selectedUser()) {-->
  <app-popup
    [type]="popUP_userInfo() ? 'userInfo' : 'none'"
    [userInfoUser]="selectedUser()"
    [userInfoContext]="selectedUserContext()"
    [userInfoEloBlitz]="selectedUserEloBlitz()"
    [userInfoEloRapid]="selectedUserEloRapid()"
    [userInfoEloClassic]="selectedUserEloClassic()"
    [userInfoEloExtended]="selectedUserEloExtended()"
    (userInfoClose)="closeUserInfo()"
    (userInfoChallenge)="challengeFromPopup()"
    (userInfoDeleteFriend)="deleteFriend()"
    (userInfoCancelSent)="cancelFriendRequest()"
    (userInfoSendFriendRequest)="sendFriendRequest()">
  </app-popup>

  <app-popup
    [type]="showConfigPopup() ? 'challengeConfig' : 'none'"
    [challengeFriendUsername]="friendToChallenge?.username || null"
    [challengeBoards]="boards"
    [challengeSelectedBoard]="selectedBoard()"
    [challengeTimeModes]="timeModes"
    [challengeSelectedMode]="selectedMode()"
    [challengeSelectedIncrement]="selectedIncrement()"
    [challengeCustomMinutes]="customMinutes()"
    [challengeCustomIncrementSec]="customIncrementSec()"
    (challengeConfigClose)="closeConfigPopup()"
    (challengeModeChange)="onModeChange($event)"
    (challengeSelectedBoardChange)="selectedBoard.set(+$event)"
    (challengeSelectedIncrementChange)="selectedIncrement.set(+$event)"
    (challengeCustomMinutesChange)="customMinutes.set(+$event)"
    (challengeCustomIncrementSecChange)="customIncrementSec.set(+$event)"
    (challengeSend)="sendChallenge()">
  </app-popup>

  <app-popup
    [type]="popUP_waiting() ? 'waiting' : 'none'"
    (waitingCancel)="cancelWaiting()">
  </app-popup>



</div>
