
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background: var(--LCBackground);
}

/* Tarjeta adaptable */
.form-container {
  background: var(--S1);
  padding: clamp(2rem, 5vw, 3rem);
  border-radius: 0.5rem;

  width: 100%;
  max-width: 40rem;   /* se adapta según tamaño base */
 
}

/* Título */
h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: clamp(1.5rem, 3vw, 2.2rem);
}

/* Labels */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
}

/* Inputs */
input.form-control {
  width: 100%;
  padding: clamp(0.8rem, 1.5vw, 1.2rem);
  border-radius: 1rem;
  border: 0.16rem solid var(--S3);
  background-color: var(--S2);
  color: var(--LCWhite);
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  transition: all 0.3s ease;
}

input.form-control:focus {
  border-color: var(--LCBlue);
  outline: none;
}

/* Texto ayuda */
#passwordHelpBlock {
  margin-top: 0.5rem;
  font-size: clamp(0.75rem, 1vw, 0.85rem);
  color: var(--LCGray);
}

/* Botón */
button {
  width: 100%;
  margin-top: 2rem;
  padding: clamp(0.9rem, 1.5vw, 1.2rem);
  border-radius: 1rem;
  border: none;
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  font-weight: 600;
  background: var(--LCBlue);
  color: var(--LCWhite);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  color: var(--LCBlue);
  background-color: var(--LCWhite);
}

.error_message_form {
  margin-top: 1rem;
  color: var(--LCRed);
  font-size: clamp(0.75rem, 1vw, 0.85rem);
  text-align: center;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-error {
  background: white;
  color: black;
  padding: clamp(1rem, 3vw, 1.5rem);
  border-radius: 0.75rem;
  width: clamp(18rem, 90vw, 30rem);
}

.field-info {
  display: flex;
  align-items: center; 
  gap: 4px;           
}

.wellcome-back {
  text-align: center;
}

.wellcome-back h3 {
  font-weight: 400; 
  color: var(--LCGray);
  margin-top: 5px; 
}